/* home - creative designer */
/*.color-code {justify-content: space-around; align-items: center; z-index: 0;}*/
/*.bg-background-fade {background-color: #ff5851}*/
/*.color-1, .color-2, .color-3, .color-4, .color-5 {-webkit-transition: background-color 700ms linear; -moz-transition: background-color 700ms linear; -o-transition: background-color 700ms linear; -ms-transition: background-color 700ms linear; transition: background-color 700ms linear; }*/
/*.color-1 {background-color: #ff5851;}*/
/*.color-2 {background-color: #e86618;}*/
/*.color-3 {background-color: #ef3158;}*/
/*.color-4 {background-color: #6b0990;}*/
/*.color-5 {background-color: #4c0990;}*/
/*.color-6 {background-color: #1b3194;}*/

.color-code {justify-content: space-around; align-items: center; z-index: 0;}
.bg-background-fade {background-color: #12aec7}
.bg-background-white {background-color: #ffffff}
.color-1, .color-2, .color-3, .color-4, .color-5 {-webkit-transition: background-color 700ms linear; -moz-transition: background-color 700ms linear; -o-transition: background-color 700ms linear; -ms-transition: background-color 700ms linear; transition: background-color 700ms linear; }
.color-1 {background-color: #12aec7;}
.color-2 {background-color: #e86618;}
.color-3 {background-color: #ef3158;}
.color-4 {background-color: #6b0990;}
.color-5 {background-color: #00a000;}
.color-6 {background-color: #12aec7;}
/*.color-6 {background-color: #0a4563;}*/


.bg-background-fade-mercusuar {background-color: #ef3158}
.color-7 {background-color: #ef3158;}
.color-8 {background-color: #ffffff;}

/*.bg-extra-dark-gray {background-color:#0a4563;}*/
.bg-extra-dark-gray2 {background-color:#12aec7;}
.bg-extra-dark-gray {background-color:#0a4563;}
.footer-logo {
    max-height: 50px;
}
